.section {
  margin: 10px;
}
#header {
  text-align: left;
  margin: 40px ;
  width: 1000px;
}
#mock-response {
  padding: 10px;
  background-color: yellow;
}

#menu-link {
	
	text-decoration: underline;
}