<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>Cloud Deployer</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
  <servlet>
      <servlet-name>bitbucket</servlet-name>
      <servlet-class>com.appirio.BitbucketServlet</servlet-class>
  </servlet>    
  <servlet>
      <servlet-name>pullrequest</servlet-name>
      <servlet-class>com.appirio.PullRequestServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>tooling</servlet-name>
      <servlet-class>com.appirio.SFDCToolingServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>oauthorize</servlet-name>
      <servlet-class>com.appirio.OAuthServlet</servlet-class>
      <init-param>
          <param-name>clientId</param-name>
          <param-value>3MVG9QDx8IX8nP5ST8OqwDJxVuQ015dCJUBZzYHKeBeq4oWgp8wpiRVVqML6zcDJc0YmmS3KcAmwroiJOPXft</param-value>
      </init-param>
      <init-param>
          <param-name>clientSecret</param-name>
          <param-value>4286876991829178467</param-value>
      </init-param>      
      <init-param>
          <param-name>redirectUri</param-name>
          <param-value>https://warm-brushlands-4210.herokuapp.com/sfdc_callback</param-value>
      </init-param>
      <init-param>
          <param-name>environment</param-name>
          <param-value>https://na12.salesforce.com</param-value>
      </init-param>      
  </servlet>
  
  <servlet-mapping>
    <servlet-name>bitbucket</servlet-name>
    <url-pattern>/bitbucket</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>oauthorize</servlet-name>
    <url-pattern>/oauth</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>oauthorize</servlet-name>
    <url-pattern>/sfdc_callback</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>pullrequest</servlet-name>
    <url-pattern>/pullrequest</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>tooling</servlet-name>
    <url-pattern>/tooling</url-pattern>
  </servlet-mapping> 
  
</web-app>
